@import 'variable';

//----------------------- ALERTS ---------------------------------------------//

.alert {
    margin: 0 0 $space;
    padding: $space * 2;

    opacity: .90;

    >.close {
        float: right;

        font-size: 2em;
        line-height: .5em;
        font-weight: bold;

        cursor: pointer;
    }

    >ul {
        margin: 0;
    }
}
