@import 'variable';

//----------------------- FORMS ----------------------------------------------//

form {
    padding: $space;
}

.form-field {
    margin: 0 0 $space;

    display: flex;
    flex-wrap: wrap;
}

.form-field-error {
    border-color: $error;
}

label {
    padding: $space ($space / 2);
    min-width: 120px;
}

input, select, textarea {
    outline: 0;
    border: 1px solid $grey;
    padding: $space ($space / 2);
    width: 100%;
    max-width: 500px;
}

input[type='submit'] {
    width: inherit;
    min-width: 120px;
}

select {
    height: 3em;
    max-height: 4 * $space;
}
